# .env file
SECRET_KEY="Your Key"
DATABASE_URI=mysql+pymysql://root:SyCBAbHXDzxlvZPyCVVpXKzrrFDXGkiH@centerbeam.proxy.rlwy.net:54259/railway
MYSQL_HOST=centerbeam.proxy.rlwy.net
MYSQL_PORT=54259
MYSQL_USER=root
MYSQL_PASSWORD=SyCBAbHXDzxlvZPyCVVpXKzrrFDXGkiH
MYSQL_DB=railway
GEMINI_API_KEY = "Your API key"
